body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Tahoma, sans-serif;
    background-color: #fcddaf
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  /* sirve para login*/
  form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  /* estilos para el contenedor del logo */
.logo-container {
    position: relative;
    left: 0;
    top: 0;
    padding: 20px;
    border-bottom: none;
    margin-bottom: 0;
    background-color: transparent;
    align-items: center;
    espacio-entre-enlaces: 100%;
    margen-logo-enlace: 60px;
}

/* estilos para la imagen del logo */
.logo-container img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
    max-height: 100px; /* Ajusta la altura máxima de la imagen según tu preferencia */
    object-fit: cover; /* Controla como la imagen se ajusta al tamaño del contenedor */
    object-position: center; /* Controla la posición de la imagen dentro del contenedor */
}
  
  /* estilos para la navegación */
  .header-container {
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 20px;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 40px;
  }
  
  /* estilos para los enlaces de navegación */
.nav-link {
    color: #8aac93;
    text-decoration: none;
    padding: 10px 20px; /* ajusta el relleno */
    display: inline-block;
    float: right;
    z-index: 1;
    border: 2px solid transparent; /* agrega un borde transparente(no es necesario) */
    border-radius: 20px; /* Añade bordes redondos */
}

/* estilo para el enlace cuando el cursor está sobre él */
.nav-link:hover {
    background-color: #dfe0dd; /* cambia el color de fondo al pasar el cursor */
}

  
  