@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  background-color: #f7f7f7; 
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
}

.login, .register {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
}

.login-container, .register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw; 
  padding-right: 5vw;
  width: 30vw;
  min-height: 100vh;
  background-color: #EDEDED;
}

.login-title, .register-title {
  font-size: 45px; 
  color: #1E1E1E; 
}

.login-description, .register-description {
  font-size: 20px; 
  color: #1E1E1E; 
}

.input-field {
  font-size: 16px; 
  width: 80%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ccc; 
  background: transparent;
  font-family: 'Poppins', sans-serif; 
  color: #1E1E1E; 
}

.forms {
  display: flex;
  flex-direction: column;
}

.forms div {
  margin: 10px 0;
  position: relative;
}

.btn-register, .btn-login {
  padding: 10px 40px;
  margin-top: 50px;
  background-color: #12229D;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  width: fit-content;
}

.btn-register:hover, .btn-login:hover {
  background-color: #3659E3;
}

.login-link {
  color: #aeaeae; 
  font-family: 'Poppins', sans-serif;
}

.register-prompt, .login-prompt {
  display: inline-block; 
  color: #aeaeae;
  margin-right: 25px; 
  font-family: 'Poppins', sans-serif;
  font-size: 0.9em;
}

.login-button {
  font-size: 15px; 
  display: inline-block; 
  width: fit-content; 
  margin-left: 30px;
  margin-top: 180px;
  background-color: #12229D;
  color: #ffffff;
  padding: 8px 30px;
}

.register-img, .login-img {
  background-image: url("../img/landing-bck-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-width: 60vw;
}

.register-img h1, .login-img h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 4em;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-left: 50px;  
}

.register-img h1 span, .login-img h1 span {
  font-weight: 700;
}