@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Start styles navBar */

.activate a svg{
  color: #5271FF;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 0;
  margin: 0;
}

.nav-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-list a {
  display: flex;
  align-items: center;
  color: #8a8a8a;
  transition: color 0.25s;
}

.nav-list a svg {
  width: 3.5vw;
  height: 3.5vh;
  margin-right: 0.5em;
}

.nav-list a span {
  color: #FAFAFA;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

.nav-list a:hover {
  color: #5271FF;
}

.nav-options {
  display: flex;
  flex-direction: column;
  row-gap: 3em;
}

#navBar {
  display: flex;
  flex-direction: column;
  row-gap: 4em;
  justify-content: start;
  padding: 4vh 3vw 0 1vw;
  background-color: #252525;
  min-height: 100vh;
  width: 15vw;

  position: fixed;
  top: 0;
  left: 0;
}

#navBar img {
  height: 9em;
}

/* End Styles navBar */

/* -------------------------------------------------------------------------- */

/* Start Styles WorkerPreviewMini */

.worker-preview-mini {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5em 0.8em;
  border-radius: 8px;
  background-color: #ffffff;
  color: #252525;
  transition: background-color 0.25s;
}

.worker-preview-mini:hover {
  cursor: pointer;
  background-color: #F2F2F2;
}

.worker-preview-mini .worker-preview-mini_button-more-info {
  transition: transform 0.15s;
}

.worker-preview-mini:hover .worker-preview-mini_button-more-info {
  transform: translateX(5px);
}

.worker-preview-mini_profile-picture {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 2px solid #5271FF;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.worker-preview-mini_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.5em;
  width: 100%;
  border-bottom: 1px solid #E8E8E8;

}

.worker-preview-mini_header {
  display: flex;
  flex-direction: column;
}

.worker-preview-mini_name {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 0.8em;
}

.worker-preview-mini_name:hover {
  text-decoration: underline;
}

.worker-preview-mini_info {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.6em;
  padding-bottom: 0.5vh;
}

.worker-preview-mini_button-more-info {
  color: #5271FF;
  width: 1.2em;
  height: 1.2em;
}

/* End Styles WorkerPreviewMini */

/* -------------------------------------------------------------------------- */

/* Start Styles WorkersPreview */

.workers-preview-info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  background-color: #ffffff;
  padding: 1.2em 1em;
  border-radius: 10px;
}

.workers-preview_title {
  font-family: 'Poppins', sans-serif;
  color: #f2f2f2;
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

.workers-preview_expand {
  color:#5271FF;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.8em;
  margin-top: 10px;
  text-align: center;
}

/* End Styles WorkersPreview */

/* -------------------------------------------------------------------------- */

/* Start Styles NavWorkersPreview */

#nav-preview-worker {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 2vw;
  background-color: #252525;
  height: 90vh;
  width: 18vw;
  max-width: 260px;

  position: fixed;
  bottom: 0;
  right: 0;
}

#nav-preview-worker_info {
  display: flex;
  flex-direction: column;
  justify-content:ceter;
  margin-top: 5%;
  height: 100%;
  max-height: 90vh;
  gap: 5%;
}

/* End Styles NavWorkersPreview */

/* -------------------------------------------------------------------------- */

.nav-bar_info {
  display: flex;
  flex-direction: row;
  padding: 2vh 4vw;
  min-width: 73vw;
  height: 6vh;
  background-color: #252525;

  position: fixed;
  top: 0;
  right: 0;
}

