*{
    font-family: "Poppins", sans-serif;
}

.bg-login{
    width: 100%;
    height: 100%;
    background: url("./../img/login.png") center, no-repeat;
    
    
    background-size: 100% 100%;
}

.max-height{
    height: 100vh;
}

.titulo {
    font-weight: bolder;
    text-align: center;
    font-size: 70px;
    margin: 5px;
}

.subtitulo {
    text-align: center;
    font-size: 1.9em;
    margin: 15px;
    font-style: italic;
    line-height: 50px;
}

.contenedor {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
