@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  background-color: #1e1e1e; 
}

.signup-container {
  padding-left: 70px; 
  padding-right: 20px; 
}



.signup-container h2 {
  font-size: 45px; 
}

.signup-container p {
  font-size: 20px; 
}

.signup-container label {
  font-size: 28px; 
}


.signup-container input {
  font-size: 16px; 
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form div {
  margin: 10px 0;
  position: relative;
}

.signup-form input {
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ccc; 
  background: transparent;
}

.signup-form label {
  color: rgba(255, 255, 255, 0.50);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; 
  transition: 0.2s ease;
}

.signup-form label::after {
  content: '';
  display: block;
  width: 4%; 
  border-bottom: 1px solid #ccc; 
  margin-top: 5px; 
}

.signup-form input:focus + label,
.signup-form input:valid + label {
  transform: translateY(-30px);
  font-size: 12px;
  color: white;
}

.signup-form button {
  padding: 10px;
  background-color: #12229D;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #3659E3;
}


.signup-title {
  color: #ffffff; 
}

.signup-description {
  color: #aeaeae; 
}

.input-field {
  color: #fdfdfd;
  font-family: 'Poppins', sans-serif; 
 
}

.btn-register {
  width: 400px; 
  margin-left: 80px;
  margin-right: 70px;
  margin-top: 40px;
 
}



.btn-login {

  background-color: #3659E3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.login-link {
  color: #aeaeae; 
  font-family: 'Poppins', sans-serif;
  
}

.login-prompt {
  display: inline-block; 
  color: #aeaeae;
  margin-right: 25px; 
  font-family: 'Poppins', sans-serif;
  font-size: 5%;
}

.login-button {
  font-size: 15px; 
  display: inline-block; 
  width: 200px; 
  margin-left: 30px;
  margin-top: 180px;
  background-color: #12229D;
  color:#ffffff;
  padding: 8px;
 
}

.background-image {
  position: absolute;
  top: 0;
  left: 100%; 
  transform: translateX(-100%); 
  width: 740px; 
  height: 740px; 
}

.silhouette-image {
  position: absolute;
  top: 240px; 
  right: 190px;
  width: 330px;
}

.text-container {
  position: absolute;
  top: 20px; 
  right: 390px; 
  padding: 10px;
  border-radius: 5px;
}

.main-text {
  font-size: 50px; 
  color: #ffffff; 
  font-family: "Poppins", sans-serif;  
  font-weight: bold;
}

.main2-text{
  font-size: 38px;
  color: #ffffff; 
  font-family: "Poppins", sans-serif;  

}
.sub-text {
  font-size: 12px;
  color: #ffffff; 
  font-family: "Poppins", sans-serif;
}

